body{
    background-image: url(../img/Pradera2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
}

.info{
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}

.tarjetas{
    display: flex;
    justify-content: center;
    align-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    gap: 10px;
}


