body{
    background-image: url(../img/Pradera2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
   }

.planta{
    height: 50px;
    width: 100px;
}

.consultasNav{
    display: inline;
    margin-right: 80px;
}

section{
    display: flex;
    justify-content: center;
    align-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    margin-bottom: 20px;
    gap: 10px;
}

.tarjetas{
    margin-top: 15px;
}

.card-img-top{
    height: 200px;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 8px;
}

.list-group{
    margin-left: 20px;
}

h5{
    margin-left: auto;
    margin-right: auto;

}

.consultar{
    border: 1px solid grey;
    border-radius: 2px solid;
    background-color: #7BBBF1; 
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 0.8rem;
}

.btnConsultar{
    margin-left: auto;
    margin-right: auto;
}


